@import "tailwindcss";

/* Hide scrollbar but allow scrolling */
::-webkit-scrollbar {
  display: none;
}

html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

/* removes the number updown buttons*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes shimmer {
  0% { background-position: -500px 0; }
  100% { background-position: 500px 0; }
}

.skeleton {
  background: linear-gradient(
    90deg,
    #1e293b 25%,
    #334155 37%,
    #1e293b 63%
  );
  background-size: 1000px 100%;
  animation: shimmer 1.4s infinite linear;
}

/* Remove default select arrow */
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
}

.stat-animate {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.stat-animate:hover {
  transform: translateY(-4px);
}